<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saptra.sieron.myapplication">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        tools:replace="android:allowBackup"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/icon_app"
        android:screenOrientation="portrait"
        android:installLocation="internalOnly"
        android:largeHeap="true"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name=".Controllers.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Not main Activities -->
        <activity
            android:name=".Controllers.HomeActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".Controllers.LoginActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".Controllers.ReadBarCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Widgets.SelectListActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".Controllers.CheckInActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".Widgets.PhotoPreview"
            android:theme="@style/AppTheme.Base" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".Controllers.ErrorActivity"/>

        <activity android:name=".Widgets.CertificadoListActivity"
            android:theme="@style/MyDialogTheme" />

        <!-- services -->
        <service
            android:name=".Widgets.SynchronizerService"
            android:enabled="true" />
    </application>
</manifest>